#quicktabs-testing #quicktabs-container-testing #quicktabs-tabpage-testing-0 table tr td.col-first{
border-right: 1px solid #CCCCCC;
}
#quicktabs-testing #quicktabs-container-testing #quicktabs-tabpage-testing-0 table tr td.col-last{
border-left: 1px solid #CCCCCC;
}

#quicktabs-testing #quicktabs-container-testing #quicktabs-tabpage-testing-0 table tr td{
padding-left: 11px;
padding-right: 11px;
padding-top: 15px;
width: 210px;
}


.field-name-og-roles-permissions{
display: none;
}

/* Related Block Bullets */

#block-views-inner_page_related_news-block_1 .view-content .views-row {
    list-style: none outside none;
    margin-left: 0px;
margin-bottom: 10px;
}

#views_slideshow_cycle_teaser_section_anouncement_ticker-block .views_slideshow_cycle_slide,
#views_slideshow_cycle_teaser_section_anouncement_ticker-block{
height: 20px !important;
}

.mobile  .view-id-mobile_landing_latest.view-display-id-block_9 .item-list ul li.views-row {
display:inline-block;
margin-right:100px;
}