#block-menu-menu-uni-global-subsections {
  background: url("/sites/default/files/bg1.jpg") no-repeat scroll right bottom transparent;
}
#block-menu-menu-uni-global-subsections ul li a.test,
#block-menu-menu-foreign-language-courses-li ul li a.test,
#block-menu-menu-foreign-language-courses-li ul li span.test {
	font-weight:bold !important;
	color:#000 !important;
}
#block-menu-menu-uni-global-subsections ul li {
text-decoration: none;
font-family: Arial,sans-serif;
list-style: none outside none;
}
#block-menu-menu-uni-global-subsections ul.menu li.expanded a {
    font-weight: normal;
}
#block-menu-menu-uni-global-subsections ul.menu li a{
    color: #666666;
    font-weight: bold;
}

#block-menu-menu-uni-global-subsections ul li a:hover{
    background: #99ccff;
    padding: 1px;
    text-decoration: none;
}

#block-menu-menu-uni-global-subsections ul li a.active {
    background: none repeat scroll 0 0 #0099FF;
    color: black;
    font-weight: bold !important;
    padding: 1px;
    text-decoration: none;
}

#block-menu-menu-uni-global-subsections h2,
#block-menu-menu-foreign-language-courses-li h2 {
    border-bottom: 2px solid #C41230;
    color: #1B3E94;
    font-family: Arial,Sans-serif !important;
    font-size: 20px !important;
    font-weight: normal;
    margin-top: 15px;
    padding: 0 0 5px !important;
    text-transform: uppercase;
}

#block-menu-menu-uni-global-subsections ul {
    margin-bottom: 20px;
    margin-right: 16px;
    text-align: right;
}
#block-menu-menu-foreign-language-courses-li ul {
    margin-bottom: 20px;
    margin-right: 5px;
    text-align: right;
}
#block-menu-menu-foreign-language-courses-li {
    margin-bottom: 20px;
    margin-right: 20px;
}

#block-menu-menu-uni-global-subsections ul li ul{
    margin-bottom: 5px;
    margin-right: 1px;
    margin-top: 5px;
    text-align: right;
}

#block-menu-menu-foreign-language-courses-li {
border: none;
border-radius: 0px 0px 0px 0px;
box-shadow: none;
}
#block-menu-menu-foreign-language-courses-li ul li {
border-bottom: none;
}
#block-menu-menu-foreign-language-courses-li ul li a {
font-family:Arial, Sans-serif;
}

#block-menu-menu-foreign-language-courses-li {
background: url("/sites/default/files/bg1.jpg") no-repeat scroll right bottom transparent;
padding-right: 10px;
}

#block-menu-menu-foreign-language-courses-li ul li ul {
    margin-bottom: 5px;
    margin-right: 3px;
    margin-top: 5px;
    text-align: right;
}

#block-menu-menu-foreign-language-courses-li ul {
text-align: right;
}

#block-menu-menu-foreign-language-courses-li ul li ul li a:hover {
    background: #99ccff;
    padding: 1px;
    text-decoration: none;
}

#block-menu-menu-foreign-language-courses-li ul li a:hover {
    text-decoration: none;
}