@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'sabonregular';
    src: url('../fonts/sabon-roman-webfont.eot');
    src: url('../fonts/sabon-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sabon-roman-webfont.woff') format('woff'),
         url('../fonts/sabon-roman-webfont.ttf') format('truetype'),
         url('../fonts/sabon-roman-webfont.svg#sabonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotissansserifregular';
    src: url('../fonts/rotis-webfont.eot');
    src: url('../fonts/rotis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotis-webfont.woff') format('woff'),
         url('../fonts/rotis-webfont.ttf') format('truetype'),
         url('../fonts/rotis-webfont.svg#rotissansserifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlainBlackWideNormal';
    src: url('../fonts/Plain_Black_Wide-webfont.eot');
    src: url('../fonts/Plain_Black_Wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Plain_Black_Wide-webfont.woff') format('woff'),
         url('../fonts/Plain_Black_Wide-webfont.ttf') format('truetype'),
         url('../fonts/Plain_Black_Wide-webfont.svg#PlainBlackWideNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('../fonts/PTC55F-webfont.eot');
    src: url('../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTC55F-webfont.woff') format('woff'),
         url('../fonts/PTC55F-webfont.ttf') format('truetype'),
         url('../fonts/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sredaregular';
    src: url('../fonts/sreda-webfont.eot');
    src: url('../fonts/sreda-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sreda-webfont.woff') format('woff'),
         url('../fonts/sreda-webfont.ttf') format('truetype'),
         url('../fonts/sreda-webfont.svg#sredaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #fff !important;
	font-family: 'LatoRegular', Arial, Sans-serif !important;
}
#postscript-top {
	background: none;
}
#breadcrumbs {
	display: none;
}
#content p {
	font-size: 14px;
}

a, a:link, a:visited {
	font-family: 'LatoRegular', Arial, Sans-serif !important;
}
h2 {
	font-family: 'LatoRegular', Arial,Sans-serif !important;
}

.page-node-5810 #content-group .title.gutter {
	background: url("../images/ais-shadow.png") no-repeat 0 25px;
	padding: 0 0 30px 0;
	margin: 0 0 0 10px;
	font-size: 26px;
}
#node-5810 .field-name-body p {
	margin: 0;
	font-size: 15px;
}

.page-node-5810 #block-views-ais_blocks-block_1 .block-title,
.page-node-5810 #block-views-ais_blocks-block_2 .block-title,
.page-node-5810 #block-views-ais_blocks-block_10 .block-title {
	background: url("../images/ais-shadow2.png") no-repeat -7px 25px;
	padding: 0 0 30px;
}

#preface-top-wrapper {
    background: #fff !important;
}
#main {
	box-shadow: none !important;
	font-family: 'LatoRegular', Arial, Sans-serif !important;
	margin-top: 20px !important;
}
#content-group .title {
    font-family: 'LatoRegular',Sans-serif !important;
	color: #777;
    padding-left: 0 !important;
    text-transform: none !important;
}
#logo {
    display: none;
}
#block-block-125 {
	margin-bottom: 0;
}
#block-custom_search_blocks-2 {
	margin-top: -75px !important;
}
#content-region-inner h1.title.gutter {
    background: none repeat scroll 0 0 #F3F3F3;
    margin-left: 0;
	margin-right: 0;
    padding: 10px;
	text-indent: 10px;
}
.page-node-5822 #block-system-main,
.page-node-5811 #block-system-main,
.page-node-5812 #block-system-main,
.page-node-5813 #block-system-main {
	display: none;
}
#header-group {
    background: #fff !important;
}
.page-node #content-group {
    margin-top: 0 !important;
}
#block-block-126 {
    background: none repeat scroll 0 0 #E8E8E8;
    padding: 15px 0;
	margin:0;
}
#block-block-126 p {
	margin:0;
}
#block-block-126 a {
	/*font-family: sredaregular, sans-serif !important;*/
	font-size: 18px;
	padding-left: 15px;
	color: #3f3f3f;
}
#block-menu-menu-ais-menu {
	background: url("../images/menu-grdnt.jpg") repeat-x;
	margin:0;
}
#block-menu-menu-ais-menu ul li a {
    color: #FFFFFF;
    padding: 15px;
    text-transform: uppercase;
}
#block-menu-menu-ais-menu ul li a.active-trail {
    font-weight: bold;
	text-decoration: underline;
}
#block-views-ais_blocks-block {
    background: url("../images/banner-shadow.png") no-repeat scroll center bottom transparent;
    padding-bottom: 30px;
}
#block-views-ais_blocks-block .gutter {
	margin: 0;
}
/*#views_slideshow_cycle_teaser_section_ais_blocks-block,
.views-slideshow-cycle-main-frame-row {
	width: 960px !important;
}*/
#block-views-ais_blocks-block .views-field-field-page-img{
	float: left;
}
#block-views-ais_blocks-block .views-field-body {
    color: #FFFFFF;
    float: left;
    height: 170px;
    padding: 40px 30px 30px;
    text-align: center;
    width: 235px;
}
#block-views-ais_blocks-block .views-field-body a{
    color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}
#block-views-ais_blocks-block .views-field-body .title {
    background: url("../images/blue-liner.png") bottom center repeat-x;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
/** Mobility - Blue **/
#block-views-ais_blocks-block #views_slideshow_cycle_div_ais_blocks-block_0 .views-field-body {
	background: #0063C7;
}
/** Climate Change - Gold **/
#block-views-ais_blocks-block #views_slideshow_cycle_div_ais_blocks-block_1 .views-field-body {
	background: #ffa602;
}
/** Campus - Green **/
#block-views-ais_blocks-block #views_slideshow_cycle_div_ais_blocks-block_2 .views-field-body {
	background: #019443;
}
#views_slideshow_controls_text_ais_blocks-block {
    margin-top: 100px;
    position: absolute;
    z-index: 99;
}
#block-views-ais_blocks-block #views_slideshow_controls_text_previous_ais_blocks-block {
    background: url("../images/left-left.png") no-repeat scroll left center transparent;
    display: block;
    height: 33px;
    position: absolute;
    text-indent: -9999px;
    width: 33px;
}
#block-views-ais_blocks-block #views_slideshow_controls_text_pause_ais_blocks-block {
    display: none;
}

#block-views-ais_blocks-block #views_slideshow_controls_text_next_ais_blocks-block {
    background: url("../images/right-right.png") no-repeat scroll right center transparent;
    display: block;
    height: 33px;
    margin-left: 632px;
    text-indent: -9999px;
    width: 33px;
}
#block-views-ais_blocks-block_1 {
    margin-right: 10px;
    width: 370px;
}
#block-views-ais_blocks-block_1 .block-title {
	color: #777;
}
#block-views-ais_blocks-block_1 .views-field-field-teaser {
    float: left;
    margin-right: 15px;
}
#block-views-ais_blocks-block_1 .views-row {
	margin-bottom: 25px;
}

#block-views-ais_blocks-block_1 .views-field-body a {
	color: #4D94F6;
	font-size: 18px;
}
#block-views-ais_blocks-block_1 .view-content .views-field-body .description {
    font-size: 15px;
}
#block-views-ais_blocks-block_1 .views-field-body .date-posted,
#block-views-ais_blocks-block_1 .views-field-body .date-posted .date-display-single {
    color: #000000;
    font-size: 12px;
    margin: 10px 0;
    text-decoration: underline;
}
#block-views-ais_blocks-block_2 {
	float: left;
	min-height: 220px;
	width: 330px;
}

#block-views-ais_blocks-block_10 {
	float: left;
	width: 330px;
}

#block-views-ais_blocks-block_10 .views-field-title a {
    color: #4D94F6;
    font-size: 16px;
}
#block-views-ais_blocks-block_10 .views-field-title {
	background: url("../images/ais-bullet.png") no-repeat left center;
	margin-bottom: 7px;
	padding: 0 0 0 15px;
}
#block-views-ais_blocks-block_2 .views-field-field-date {
    background-color: #CCCCCC;
    float: left;
    line-height: 10px;
    padding: 10px;
    text-align: center;
    width: 20px;
}
#block-views-ais_blocks-block_2 .views-field-field-date .date-display-single {
    color: #000 !important;
    font-family: 'LatoRegular',Arial,Sans-serif !important;
    font-size: 12px !important;
}
#block-views-ais_blocks-block_2 .views-field-title {
	margin-left: 50px;
}
#block-views-ais_blocks-block_2 .views-field-title a{
    color: #4D94F6;
    font-size: 15px;
}

#block-views-ais_blocks-block_2 .views-row {
	margin-bottom: 15px;
}

#sidebar-second {
	background: #f3f3f3 !important;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    min-height: 100% !important;
    padding: 20px 10px;
    width: 215px;
	margin-left: 5px;
}
#sidebar-second #block-views-ais_blocks-block_2 .views-field-field-date {
	padding: 8px;
}
#sidebar-second #block-views-ais_blocks-block_2 .views-field-title {
	margin-left: 45px;
}
#sidebar-second #block-views-ais_blocks-block_2 .views-field-title a{
    font-size: 14px !important;
}

.page-node-5810 #sidebar-second {
	background: none !important;
}

.page-node-5810 #block-menu-menu-ais-sidebar-links {
	background: #f3f3f3 !important;
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    min-height: 100% !important;
    padding: 20px 10px;
    width: 215px;
	margin-bottom:-1px;
}
.page-node-5810 #block-menu-menu-ais-sidebar-links ul.menu {
	margin-bottom: 0;
}

.page-node-5810 #block-menu-menu-ais-resources {
	background: #f3f3f3 !important;
	border: 1px solid #CCCCCC;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
    min-height: 100% !important;
    padding: 20px 10px;
    width: 215px;
}
.page-node-5810 #block-views-ais_calendar-block_1,
#block-block-150 {
	background: #f3f3f3 !important;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    min-height: 100% !important;
    padding: 20px 10px;
    width: 215px;
}

#block-views-ais_calendar-block_1 .mini td {
	background: #F3F3F3;
	text-align: center;
	color: #000;
}

#block-views-ais_calendar-block_1 .item-list {
	padding: 0;
	border-bottom: 1px solid #C7CACC !important;
}

#block-views-ais_calendar-block_1 .item-list .pager {
	margin: 0;
}

#block-views-ais_calendar-block_1 .date-heading h3 {
	color: #00;
}

#block-views-ais_calendar-block_1 th.days {
	background: #F3F3F3;
	border: none;
	color: #4D94F6;
}

#block-views-ais_calendar-block_1 td.has-events {
    background: none repeat scroll 0 0 #4D94F6;
    border-radius: 5px;
    text-align: center;
}

#block-views-ais_calendar-block_1 td.has-events a {
	color: #fff;
	font-weight: bold;
}

#block-views-ais_calendar-block_1 td.today {
    background: none repeat scroll 0 0 #C3D6E4;
    border-radius: 5px;
    text-align: center;
}

#sidebar-second h2{
	color: #4d94f6;
}
#sidebar-second a{
	color: #777;
	font-family: 'LatoRegular',Arial,Sans-serif !important;
	font-size: 14px;
}

#sidebar-second #block-views-ais_blocks-block_2,
#sidebar-second #block-views-ais_blocks-block_11 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 15px 0;
    width: 100% !important;
}
#block-views-ais_blocks-block_11 .views-row {
    background: url("../images/ais-bullet.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    margin: 5px 0 0 5px;
    padding-left: 18px;
}

#block-views-ais_blocks-block_11 .views-row .views-field-title a {
    color: #0648A8;
}

#block-menu-menu-ais-sidebar-links,
#block-menu-menu-ais-inclusive-links,
#block-menu-menu-ais-climate-links,
#block-menu-menu-ais-mobility-links2 {
    border-bottom: 1px solid #C7CACC;
}
#block-menu-menu-ais-sidebar-links .content ul li {
	list-style-type: disc;
	list-style-image: none;
}
#block-menu-menu-ais-resources ul {
	margin-left: 5px;
}
#block-menu-menu-ais-resources .content ul li {
    background: url("../images/download.png") no-repeat scroll left center transparent;
    list-style: none outside none;
    padding-left: 20px;
}
#block-menu-menu-ais-resources .content ul li a:after {
    content: " | .pdf";
    font-size: 10px;
}
#block-menu-menu-clone-ais-menu .gutter {
	margin:0;
}
#block-menu-menu-clone-ais-menu .content ul {
	margin:0;
}
#block-menu-menu-clone-ais-menu .content ul li {
	background: #fff;
    border: 1px solid #0648a8;
    font-size: 16px;
    list-style: none outside none;
    margin-bottom: 5px;
    padding: 0 5px;
}
#block-menu-menu-clone-ais-menu ul li.expanded .menu li {
    background: none repeat scroll 0 0 #F2F2F2;
    border: medium none;
}

#block-menu-menu-clone-ais-menu .content ul li a{
    background: url("../images/minus.png") no-repeat scroll left center transparent;
    display: block;
    padding-left: 25px;
	color: #0648a8;
}
#block-menu-menu-clone-ais-menu .content ul li a.active-trail{
	 color: #002484 !important;
    font-weight: bold;
}
#block-menu-menu-clone-ais-menu .content ul li a.active-trail{
	 color: #002484 !important;
    font-weight: bold;
}
#block-views-ais_blocks-block_3 .view-header {
	font-size: 18px;
	margin-bottom: 20px;
}
#block-views-ais_blocks-block_3 .view-footer {
	float: left;
    margin-top: 35px;
	font-size: 18px;
}
#block-views-ais_blocks-block_3 .views-row {
    margin-bottom: 25px;
	height: 155px;
	float: left;
}

#block-views-ais_blocks-block_3 .views-field-field-teaser {
    float: left;
    margin-right: 15px;
}
#block-views-ais_blocks-block_3 .attachment-before {
	float: left;
	margin-bottom: 20px;
}
#block-views-ais_blocks-block_3.attachment-before  .views-row {
	height: 190px !important;
	float: none;
}
#block-views-ais_blocks-block_3 .attachment-before .views-field-body {
    margin-left: 290px !important;
}
#block-views-ais_blocks-block_3 .view-content .views-field-body {
    margin-left: 180px;
}
#block-views-ais_blocks-block_3 .view-content .views-field-body .description {
    font-size: 15px;
}
#block-views-ais_blocks-block_3 .views-field-body a {
	color: #4D94F6;
	font-size: 18px;
}
#block-views-ais_blocks-block_3 .views-field-body .date-posted,
#block-views-ais_blocks-block_3 .views-field-body .date-posted .date-display-single {
    color: #000000;
    font-size: 12px;
    margin: 10px 0;
    text-decoration: underline;
}

/* Slideshows Start */

#block-views-ais_blocks-block_4,
#block-views-ais_blocks-block_5,
#block-views-ais_blocks-block_6 {
	margin:0;
}

#block-views-ais_blocks-block_4 .gutter,
#block-views-ais_blocks-block_5 .gutter,
#block-views-ais_blocks-block_6 .gutter {
	margin:0;
}

#block-views-ais_blocks-block_4 .views-row,
#block-views-ais_blocks-block_5 .views-row,
#block-views-ais_blocks-block_6 .views-row {
	width: 670px !important;
}

#views_slideshow_cycle_main_ais_blocks-block_4,
#views_slideshow_cycle_main_ais_blocks-block_5,
#views_slideshow_cycle_main_ais_blocks-block_6 {
    float: left;
    min-height: 600px;
    position: absolute;
    width: 660px;
	/*margin-top: 50px;*/
}
#block-views-ais_blocks-block_4 .views-slideshow-controls-top,
#block-views-ais_blocks-block_5 .views-slideshow-controls-top,
#block-views-ais_blocks-block_6 .views-slideshow-controls-top {
    background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(left,  #f0f0f0 0%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0f0), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(to right,  #f0f0f0 0%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    color: #FFFFFF;
    float: right;
    margin-bottom: 20px;
	/*margin-top: 50px;*/
    padding: 20px;
    position: relative;
    width: 225px;
    z-index: 99;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.views-slideshow-pager-fields.widget_pager .views-slideshow-pager-field-item.active {
	font-weight: bold;
	font-size: 12px;
}
.views-slideshow-pager-fields.widget_pager .views-slideshow-pager-field-item .slide-title {
	margin-left: 30px;
}
#widget_pager_top_ais_blocks-block_4 .views-content-title .numbering,
#block-views-ais_blocks-block_12 .numbering {
    background: none repeat scroll 0 0 #019443;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}

#widget_pager_top_ais_blocks-block_5 .views-content-title .numbering,
#block-views-ais_blocks-block_14 .numbering {
    background: none repeat scroll 0 0 #FFA602;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
#widget_pager_top_ais_blocks-block_6 .views-content-title .numbering,
#block-views-ais_blocks-block_13 .numbering {
    background: none repeat scroll 0 0 #0063C7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
#block-views-ais_blocks-block_12 .title,
#block-views-ais_blocks-block_13 .title,
#block-views-ais_blocks-block_14 .title {
	margin-left: 30px;
}

/* Slideshows End */

#block-views-ais_blocks-block_4 .views-content-title,
#block-views-ais_blocks-block_5 .views-content-title,
#block-views-ais_blocks-block_6 .views-content-title,
#block-views-ais_blocks-block_12 .views-field-title,
#block-views-ais_blocks-block_13 .views-field-title,
#block-views-ais_blocks-block_14 .views-field-title {
    border-bottom: 1px solid;
	color: #000000;
    cursor: pointer;
    padding: 10px 0;
}

#block-views-ais_blocks-block_12 .views-field-title a,
#block-views-ais_blocks-block_13 .views-field-title a,
#block-views-ais_blocks-block_14 .views-field-title a {
    color: #000000;
	font-size: 13px;
}
#block-views-ais_blocks-block_12 .views-field-title a.active,
#block-views-ais_blocks-block_13 .views-field-title a.active,
#block-views-ais_blocks-block_14 .views-field-title a.active {
    font-weight: bold;
	font-size: 12px;
}
#block-views-ais_blocks-block_4 .views-field-body,
#block-views-ais_blocks-block_5 .views-field-body,
#block-views-ais_blocks-block_6 .views-field-body,
#block-views-ais_blocks-block_4 .views-field-body p,
#block-views-ais_blocks-block_5 .views-field-body p,
#block-views-ais_blocks-block_6 .views-field-body p {
	font-size: 16px !important;
	margin-top: 25px;
	width: 660px;
}
#block-views-ais_blocks-block_7,
#block-views-ais_blocks-block_8,
#block-views-ais_blocks-block_9{
	background: none repeat scroll 0 0 #F3F3F3 !important;
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
	padding: 10px;
	width: 245px;
	float: right;
}

.page-node-5811 .grid12-9,
.page-node-5812 .grid12-9,
.page-node-5813 .grid12-9 {
	width: 960px;
}

.page-node-5811 #sidebar-second,
.page-node-5812 #sidebar-second,
.page-node-5813 #sidebar-second {
	border: 1px solid #CCCCCC;
	float: right;
	margin-bottom: 20px;
	width: 245px;
	background: none;
}
#block-views-ais_blocks-block_7 .block-title,
#block-views-ais_blocks-block_8 .block-title,
#block-views-ais_blocks-block_9 .block-title {
	color: #4D94F6;
}

#block-views-ais_blocks-block_7 .views-field-body a,
#block-views-ais_blocks-block_8 .views-field-body a,
#block-views-ais_blocks-block_9 .views-field-body a {
	font-size: 13px;
	font-weight: bold;
}

#block-views-ais_blocks-block_7 .views-field-field-teaser,
#block-views-ais_blocks-block_8 .views-field-field-teaser,
#block-views-ais_blocks-block_9 .views-field-field-teaser {
	float: left;
	margin-right: 10px;
}
#block-views-ais_blocks-block_7 .views-field-body,
#block-views-ais_blocks-block_8 .views-field-body,
#block-views-ais_blocks-block_9 .views-field-body{
	margin-left: 80px;
	margin-bottom: 10px;
}
/** Mobility - Blue **/
#block-block-129 {
	background: #0063C7;
	margin:0;
}
#block-block-128 p,
#block-block-129 p,
#block-block-130 p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
    text-transform: uppercase;
}
/** Climate Change - Gold **/
#block-block-128 {
	background: #ffa602;
	margin:0;
}
/** Campus - Green **/
#block-block-130 {
	background: #019443;
	margin:0;
}

.view-cord-search.view-display-id-page_1 .views-row {
    margin-bottom: 30px;
}
.view-cord-search.view-display-id-page_1 .views-field-title a {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
#views-exposed-form-cord-search-page-1 .views-exposed-form #edit-keys-wrapper {
	float: none;
}
#views-exposed-form-cord-search-page-1 .views-exposed-form .views-exposed-widget label {
	float: left;
	margin-right: 15px;
}
#views-exposed-form-cord-search-page-1 .views-exposed-form #edit-keys {
	float: left;
	width: 200px;
}
#views-exposed-form-cord-search-page-1 .views-exposed-form #edit-submit-cord-search {
	margin:0;
}
#views-exposed-form-cord-search-page-1 .views-exposed-form .views-submit-button {
	padding: 0 1em;
	margin-top: -2px;
}
.page-ais-search h1.title.gutter {
    margin-top: 50px;
    position: absolute;
	z-index: 9;
	width: 710px;
}

.view-empty {
    margin-top: 75px;
}
.page-ais-search .view-display-id-page_1 .view-content {
    margin-top: 75px;
}


#views_slideshow_cycle_main_ais_blocks-block_4 .views-field-nothing {
    background: none repeat scroll 0 0 #1DA04F;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
	width: 640px;
    position: absolute;
	font-weight: bold;
    top: -50px;
}
#views_slideshow_cycle_main_ais_blocks-block_5 .views-field-nothing {
    background: none repeat scroll 0 0 #FFBE1A;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
	width: 640px;
    position: absolute;
	font-weight: bold;
    top: -50px;
}
#views_slideshow_cycle_main_ais_blocks-block_6 .views-field-nothing {
    background: none repeat scroll 0 0 #1E79DD;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
	width: 640px;
    position: absolute;
	font-weight: bold;
    top: -50px;
}
#block-views-feature_photo_slideshow-block_5 ul {
	margin: 0;
}
#block-views-feature_photo_slideshow-block_5 ul li{
    display: inline-block;
    list-style: none outside none;
    margin: 5px !important;
}


/* Margin, Padding, Border Resets
-------------------------------------------------------------- */
html, body, div, span, p,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, input, textarea {
  margin: 0;
  padding: 0;
}

img, abbr, acronym {
  border: 0;
}


/* HTML Elements
-------------------------------------------------------------- */

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
}

ul, ol, dd {
  margin-bottom: 1.5em;
  margin-left: 2em; /* LTR */
}

li ul, li ol {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

blockquote {
}

hr {
  height: 1px;
  border: 1px solid gray;
}

/* tables */
table {
  border-spacing: 0;
  width: 100%;
}

caption {
  text-align: left;
}

th {
  margin: 0;
  padding: 0 10px 0 0;
}

th.active img {
  display: inline;
}

thead th {
  padding-right: 10px;
}

td {
  margin: 0;
  padding: 3px;
}

/* Remove grid block styles from Drupal's table ".block" class */
td.block {
  border: none;
  float: none;
  margin: 0;
}

/* Maintain light background/dark text on dragged table rows */
tr.drag td,
tr.drag-previous td {
  background: #FFFFDD;
  color: #000;
}


/* Accessibility
/-------------------------------------------------------------- */
/* skip-link to main content, hide offscreen */
#skip-link a,
#skip-link a:hover,
#skip-link a:visited {
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: -500px;
  width: 1px;
}

/* make skip link visible when selected */
#skip-link a:active,
#skip-link a:focus {
  background-color: #fff;
  color: #000;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 99;
}

#skip-link a:hover {
  text-decoration: none;
}


/* Helper Classes
/-------------------------------------------------------------- */
.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/* clear floats after an element */
.clearfix:after,
.clearfix .inner:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: auto;
  visibility: hidden;
}

/* additional clearfix styles for IE6 */
.ie6 .clearfix,
.ie6 .clearfix .inner {
  display: block;
  height: 1%;
}

/* additional clearfix styles for IE7 */
.ie7 .clearfix,
.ie7 .clearfix .inner {
  zoom: 1;
}



/* Grid Layout Basics (specifics in 'gridnn_x.css')
-------------------------------------------------------------- */
/* center page and full-width regions: override this for left-aligned page */
.page,
.region {
  margin: 0 auto;
}

/* full-width region wrapper */
div.full-width {
  width: 100%;
}

/* float, un-center & expand nested regions */
.nested {
  float: left; /* LTR */
  margin: 0;
  width: 100%;
}

/* fix double-margin bug in IE6 */
.ie6 .block,
.ie6 .nested {
  display: inline;
}

/* sidebar layouts */
.sidebars-both-first .content-group {
  float: right; /* LTR */
}

.sidebars-both-last .sidebar-first {
  float: right; /* LTR */
}

/* fluid: fix skipped % margin inherit bug in IE6*/
.ie6 .grid-type-fluid .sidebar-first-inner,
.ie6 .grid-type-fluid .sidebar-second-inner {
  zoom: 1;
}

/* fluid: fix list shift-on-hover bug in iE6 */
.ie6 .grid-type-fluid .block {
  height: 1%;
}

/* fluid: fix list shift-on-hover bug in IE7*/
.ie7 .grid-type-fluid .block-wrapper {
  height: 1%;
}

/* Site Info
-------------------------------------------------------------- */
#header-site-info {
  width: auto;
}

#site-name-wrapper {
  float: left;   /* LTR */
}

#slogan {
  display: block;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}

#site-name a {
  outline: 0;
}

/* Regions
-------------------------------------------------------------- */

/* Header Regions
-------------------------------------------------------------- */
/* OVERFLOW FIX DISABLED. REMOVE IF IT TURNS OUT IT'S NOT NEEDED FOR D7 FUSION
#header-group {
  overflow: visible;
}
*/

/* Content Regions (Main)
-------------------------------------------------------------- */
.node-bottom {
  margin: 1.5em 0 0 0;
}

/*  Clear floats on regions
-------------------------------------------------------------- */
#header-top-wrapper,
#header-group-wrapper,
#main-menu-wrapper,
#preface-top-wrapper,
#main-wrapper,
#preface-bottom,
#content-region,
#postscript-top,
#postscript-bottom-wrapper,
#footer-wrapper {
  clear: both;
}


/* Drupal Core
/-------------------------------------------------------------- */

/* Content tabs
/-------------------------------------------------------------- */

/* fix tab layout in IE6*/
.ie6 div#content-tabs,
.ie6 div#content-tabs ul.primary,
.ie6 div#content-tabs ul.secondary {
  display: block;
  float: none;
  height: 1%;
}

/* Lists
/-------------------------------------------------------------- */
.item-list ul li {
  margin: 0;
}

.block ul,
.block ol {
  margin-left: 2em; /* LTR */
  padding: 0;
}

/* ordered list margin fix in IE6 & IE7 */
.ie6 .block ol,
.ie7 .block ol {
  margin-left: 2em;
}

.content-inner ul,
.content-inner ol {
  margin-bottom: 1.5em;
}

.content-inner li ul,
.content-inner li ol {
  margin-bottom: 0;
}

.block ul.links {
  margin-left: 0; /* LTR */
}

/* Menus
/-------------------------------------------------------------- */
ul.menu li,
ul.links li {
  margin: 0;
  padding: 0;
}

/* Main Menu
/-------------------------------------------------------------- */
/* This corrects an issue with excess space above (yes, above) the menu.
 * For more information: http://drupal.org/node/1340348 */
.region-main-menu ul {
  margin-bottom: 0;
}

/* hide block titles in the main menu region, accessible to screen readers */
#main-menu .block-menu h2.block-title {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* hide child menu items by default */
.region-main-menu ul.menu ul {
  display: none;
}

/* remove left margin from main menu list */
.region-main-menu ul {
  margin-left: 0; /* LTR */
}

/* remove bullets, float left */
.region-main-menu ul li {
  float: left; /* LTR */
  list-style: none;
  position: relative;
}

/* style links, and unlinked parent items (via Special Menu Items module) */
.region-main-menu ul li a,
.region-main-menu ul li .nolink {
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
}

/* Add cursor style for unlinked parent menu items */
.region-main-menu ul li .nolink {
  cursor: default;
}

/* remove outline */
.region-main-menu ul li:hover,
.region-main-menu ul li.sfHover,
.region-main-menu ul a:focus,
.region-main-menu ul a:hover,
.region-main-menu ul a:active {
  outline: 0;
}

/* main menu dropping behind other menus fix in IE6 & IE7*/
.ie6 .main-menu,
.ie7 .main-menu {
  z-index: 20;
}

/* fix main menu dropping behind content below in IE7 */
.ie7 .main-menu .main-menu-inner {
  position: static;
}

/* Fusion Apply skin styles
/-------------------------------------------------------------- */

/* selectable helper classes */
.fusion-clear {
  clear: both;
}

div.fusion-right {
  float: right; /* LTR */
}

div.fusion-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.fusion-center-content .inner {
  text-align: center;
}

.fusion-center-content .inner ul.menu {
  display: inline-block;
  text-align: center;
}

/* fix for inline-block centering in IE6 & IE7 */
.ie6 .fusion-center-content .inner ul.menu,
.ie7 .fusion-center-content .inner ul.menu {
  display: inline-block;
}

.ie6 .fusion-center-content .inner ul.menu,
.ie7 .fusion-center-content .inner ul.menu {
  display: inline;
}

/* required to override drupal core */
.fusion-center-content #user-login-form {
  text-align: center;
}

.fusion-right-content .inner {
  text-align: right; /* LTR */
}

/* required to override drupal core */
.fusion-right-content #user-login-form {
  text-align: right; /* LTR */
}

/* Large, bold callout text style */
/*.fusion-callout .inner {
  font-weight: bold;
}*/

/* Extra padding on block */
.fusion-padding .inner {
  padding: 30px;
}

/* Adds 1px border and padding */
.fusion-border .inner {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

/* Single line menu with separators */
.fusion-inline-menu .inner ul.menu {
  margin-left: 0; /* LTR */
}

.fusion-inline-menu .inner ul.menu li {
  border-right-style: solid;
  border-right-width: 1px;
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.fusion-inline-menu .inner ul.menu li a {
  padding: 0 8px 0 5px; /* LTR */
}

.fusion-inline-menu .inner ul li.last {
  border: none;
}

/* Hide second level (and beyond) menu items */
.fusion-inline-menu .inner ul li.expanded ul {
  display: none;
}

/* Multi-column menu style with bolded top level menu items */
.fusion-multicol-menu .inner ul {
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul li {
  border-right: none;
  display: block;
  font-weight: bold;
}

.fusion-multicol-menu .inner ul li.last {
  border-right: none;
}

.fusion-multicol-menu .inner ul li.last a {
  padding-right: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded,
.fusion-multicol-menu .inner ul li.leaf {
  float: left; /* LTR */
  list-style-image: none;
  margin-left: 50px; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li.first {
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded li.leaf {
  float: none;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul {
  display: block;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul li {
  border: none;
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li ul.menu li {
  font-weight: normal;
}

/* Split list across multiple columns */
.fusion-2-col-list .inner .item-list ul li,
.fusion-2-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 50%;
}

.fusion-3-col-list .inner .item-list ul li,
.fusion-3-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 33%;
}

.fusion-2-col-list .inner .item-list ul.pager li,
.fusion-3-col-list .inner .item-list ul.pager li {
  float: none;
  width: auto;
}

/* List with bottom border
    Fixes a common issue when list items have bottom borders and appear to be
    doubled when nested lists end and begin. This removes the extra border-bottom
 */
.fusion-list-bottom-border .inner ul li {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

.fusion-list-bottom-border .inner ul li,
.fusion-list-bottom-border .view-content div.views-row {
  padding: 0 0 0 10px; /* LTR */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 216.7%; /* 26px */
}

.fusion-list-bottom-border .inner ul {
  margin: 0;
}

.fusion-list-bottom-border .inner ul li ul {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.fusion-list-bottom-border .inner ul li ul li.last {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  margin-top: -1px;
}

/* List with no bullet and extra padding
    This is a common style for menus, which removes the bullet and adds more
    vertical padding for a simple list style
 */
.fusion-list-vertical-spacing .inner ul,
.fusion-list-vertical-spacing div.views-row-first {
  margin-left: 0;
  margin-top: 10px;
}

.fusion-list-vertical-spacing .inner ul li,
.fusion-list-vertical-spacing div.views-row {
  line-height: 133.3%; /* 16px/12px */
  margin-bottom: 10px;
  padding: 0;
}

.fusion-list-vertical-spacing .inner ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

.fusion-list-vertical-spacing .inner ul li ul {
  margin-left: 10px; /* LTR */
}

/* Bold all links */
.fusion-bold-links .inner a {
  font-weight: bold;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
  margin: 20px 0;
}

ul.pager li {
  margin: 0;
  white-space: nowrap;
}

ul.pager a,
ul.pager li.pager-current {
  border-style: solid;
  border-width: 1px;
  padding: 3px 6px 2px 6px;
  text-decoration: none;
}

ul.pager a:link,
ul.pager a:visited {
  color: inherit;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  border-style: solid;
  border-width: 1px;
}

ul.pager span.pager-ellipsis {
  padding: 0 4px;
}

.item-list .pager li {
  padding: 0;
}


/* Forms
/-------------------------------------------------------------- */
/* defaults for all text fields */
.form-text {
  padding: 2px;
}

/* defaults for all form buttons */
form input.form-submit {
  cursor: pointer;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px;
}

form input.form-submit:hover {
  cursor: pointer;
}

fieldset {
  margin: 15px 0;
  padding: 10px;
}

html.js fieldset.collapsed {
  margin-bottom: 15px;
}

/* limit legend width to text length in IE6 & IE7*/
.ie6 form fieldset legend,
.ie7 form fieldset legend {
  display: inline-block !important;
}

/* limit width of form inputs */
textarea,
.form-item input,
.form-item select,
#content-region input.form-text {
  max-width: 95%;
}

html.js textarea {
  max-width: 100%;
}

/* adjust for collapsible fieldset differences */
fieldset.collapsible .resizable-textarea textarea {
  max-width: 101.5%;
}

fieldset.collapsible .resizable-textarea .grippie {
  width: 101%;
}

/* keep theme switcher visible */
.form-item select#edit-theme {
  max-width: none;
}

/* region labels on block admin page */
.block-region {
  background-color: #F3F3F3;
  border: 3px dashed #CCCCCC;
  color: #555555;
  font-weight: bold;
  margin: 1px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px #FDFDFD;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* remove help message style in admin block demo mode */
.page-admin-structure-block-demo div.content-help-inner div.help {
  background-color: transparent;
}

.page-admin-structure-block-demo div.content-help div.help {
  border-width: 0;
  padding: 0;
}


/* User Login Form
/-------------------------------------------------------------- */
/* remove centering on login form */
#user-login-form {
  text-align: left; /* LTR */
}

#user-login-form .item-list {
  margin-top: 1em;
}

#user-login-form .item-list ul {
  margin-left: 0; /* LTR */
}

/* remove list styling on login form */
#user-login-form div.item-list ul li {
  list-style-type: none;
  margin: 0;
}

/* adjust openid link (display set in openid.js) */
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-position: 0 0;
  padding: 0 0 0 20px;
}

/* adjust openid link for IE6 */
html.ie6 #user-login-form li.openid-processed,
html.ie6 #user-login li.openid-processed {
  padding-left: 6px;
}

/* User Login Form - Horizontal (Fusion Apply selectable)
/-------------------------------------------------------------- */
.fusion-horiz-login#block-user-login {
  margin: 20px 0 10px 0;
  position: relative;
}

html.js .fusion-horiz-login#block-user-login {
  margin-top: 10px;
}

.fusion-horiz-login#block-user-login h2.title {
  display: none;
}

.fusion-horiz-login#block-user-login #user-login-form div.form-item,
.fusion-horiz-login#block-user-login #user-login-form input.form-submit,
.fusion-horiz-login#block-user-login .item-list {
  float: left;
  margin: 0 10px 0 0;
  text-align: left;
}

.fusion-horiz-login#block-user-login #user-login-form input.form-submit {
  padding: 2px 15px;
  text-align: center;
}

/* reduce button size for IE6 */
.ie6 .fusion-horiz-login #block-user-login #user-login-form input.form-submit {
  padding: 0 7px;
  position: relative;
}

/* reduce button size for IE7*/
.ie7 .fusion-horiz-login #block-user-login #user-login-form input.form-submit {
  padding: 0 7px;
}

.fusion-horiz-login#block-user-login #user-login-form div.form-item {
  width: 115px;
}

.fusion-horiz-login#block-user-login #user-login-form label {
  margin: -20px 0 0 2px;
}

/* fix positioning bugs in IE6 & IE7 */
.ie6 .fusion-horiz-login #block-user-login #user-login-form label,
.ie7 .fusion-horiz-login #block-user-login #user-login-form label {
  position: relative;
}

html.js .fusion-horiz-login#block-user-login #user-login-form label {
  display: block;
  font-weight: normal;
  margin: 0 0 0 7px;
  position: absolute;
}

.fusion-horiz-login#block-user-login #user-login-form input.form-text {
  border-width: 1px;
  padding: 1px;
  width: 125px;
}

.fusion-horiz-login#block-user-login .item-list {
  margin-top: -1px;
}

.fusion-horiz-login#block-user-login .item-list ul {
  margin: 0;
  padding: 0;
}

/* eliminate list item leading spacing for IE6 & IE7 */
.ie6 .fusion-horiz-login #block-user-login .item-list ul ,
.ie7 .fusion-horiz-login #block-user-login .item-list ul {
  list-style-position: outside;
}

.fusion-horiz-login#block-user-login .item-list li {
  list-style: none;
  margin: 0;
}

.fusion-horiz-login#block-user-login .item-list li a {
  text-decoration: none;
}

.fusion-horiz-login#block-user-login .item-list li a:hover,
.fusion-horiz-login#block-user-login .item-list li a:focus {
  text-decoration: underline;
}


/* OpenID login*/
.fusion-horiz-login#block-user-login #user-login-form li.openid-link,
.fusion-horiz-login#block-user-login #user-login-form li.user-link {
  background: none;
  padding: 6px 0 0 0;
}

.fusion-horiz-login#block-user-login #user-login-form div#edit-openid-identifier-wrapper {
  margin: 0 10px 0 0;
  width: 145px;
}

/* prevent "What is OpenID?" from breaking layout in IE6 & IE7 */
.ie6 .fusion-horiz-login #block-user-login #edit-openid-identifier-wrapper,
.ie7 .fusion-horiz-login #block-user-login #edit-openid-identifier-wrapper  {
  position: relative;
}

.fusion-horiz-login#block-user-login #user-login-form input#edit-openid-identifier.form-text {
  width: 135px;
}

html.js .fusion-horiz-login#block-user-login #user-login-form div#edit-openid-identifier-wrapper label {
  padding-left: 18px;
}

.fusion-horiz-login#block-user-login #edit-openid-identifier-wrapper .description {
  padding-right: 5px;
  text-align: right;
}

/* prevent "What is OpenID?" from breaking layout in IE6 & IE7 */
.ie6 .fusion-horiz-login #block-user-login #edit-openid-identifier-wrapper .description,
.ie7 .fusion-horiz-login #block-user-login #edit-openid-identifier-wrapper .description {
  right: 3px;
  position: absolute;
  top: 20px;
}

/* Blocks
/-------------------------------------------------------------- */
.block {
  float: left; /* LTR */
  margin-bottom: 1.5em;
  width: 100%;
}

/* no gutters for blocks in node-top or node-bottom  */
#node-top .gutter,
#node-bottom .gutter {
  margin-left: 0;
  margin-right: 0;
}


/* Nodes
/-------------------------------------------------------------- */
div.node {
  margin-bottom: 1.5em;
}

/* remove image borders and add margin for feed, node link, table sort images */
a.feed-icon img,
ul.links img,
th img {
  border: 0;
  margin: 0 5px;
}

/* remove awkward link padding on login/register to comment links */
#content-content .node ul.links li.comment_forbidden a {
  padding-right: 0;
}


/* Comments
/-------------------------------------------------------------- */
div.comment {
  margin: 15px 0;
}

div.comment h3.title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

div.comment div.links a,
div.comment ul.links a {
  text-align: right;
}

.comment-folded {
  margin: 1em 0 1em 1em;
}

.comment-folded .subject {
  font-weight: bold;
  padding-right: 5px;
  text-transform: uppercase;
}

.comment-folded .subject a {
  font-style: normal;
  text-transform: none;
  font-weight: normal;
}

.signature {
  border-top-style: solid;
  border-top-width: 1px;
  margin: 10px 0;
  padding: 0;
}


/* Profiles
/-------------------------------------------------------------- */
.profile {
  clear: none;
  margin: 12px 0;
}

.profile h2.title {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.profile dt {
  float: left; /* LTR */
  margin-bottom: -10px;
  margin-right: 5px; /* LTR */
  padding: 0 5px;
  text-align: left; /* LTR */
  width: 185px;
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
  margin: 5px;
}

#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: nowrap;
}

#forum td.posts,
#forum td.topics,
#forum td.replies,
#forum td.pager {
  text-align: center;
}

.forum-topic-navigation {
  padding: 10px 0 0 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  padding: 5px;
}

.forum-topic-navigation .topic-previous {
  text-align: right; /* LTR */
  float: left; /* LTR */
  width: 46%;
}

.forum-topic-navigation .topic-next {
  text-align: left; /* LTR */
  float: right; /* LTR */
  width: 46%;
}


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 0 0 30px;
}
.book-navigation .page-links {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  padding: 5px;
}


/* Drupal Messages
/-------------------------------------------------------------- */
div.content-messages div.messages,
div.content-help div.help {
  border: none;
  border-top: solid 6px;
  border-bottom: solid 6px;
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 14px 14px 14px 37px;
}

div.content-messages-inner div.status {
  background-color: #e4f2f8;
  color: #2f4d64;
}

div.content-messages-inner div.warning {
  background: #FFFFDD;
  border-color: #EED300;
  color: #745500;
}

div.content-messages-inner div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
}

.help,
div.content-help-inner div.help {
  background-color: #E4EEF8;
  border-color: #57718A;
  color: #292929;
}

div.messages ul,
div.content-help .help ul {
  list-style-position: inside;
}

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: #333;
  text-decoration: underline;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active,
div.messages em {
  color: #333;
  text-decoration: none;
}

#content-region ul.tips li {
  background: transparent;
  list-style: disc;
  list-style-image: none;
  list-style-position: inside;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* let site name & slogan drop under logo */
.in-maintenance .page #logo {
  float: none;
}

/* default margins for logo and site name */
.in-maintenance .page .header-site-info {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* default padding with no db */
.db-offline .page .header-group-inner,
.db-offline .page .main-inner {
  padding-left: 10px;
  padding-right: 10px;
}


/* Poll
/-------------------------------------------------------------- */
/* increase default font size and spacing of poll titles */
.block-poll .poll div.title {
  font-weight: bold;
  margin-bottom: 10px;
}


/* Views
/-------------------------------------------------------------- */
.view {
  margin: 0;
}

/* views form field width limit */
.views-edit-view input,
.views-edit-view textarea {
  max-width: 95%;
}

/* remove extra bottom margin from last node in view */
.block-wrapper .block-views .views-row-last .node {
  margin-bottom: 0;
}


/* Vertical tabs
/-------------------------------------------------------------- */
.vertical-tabs {
  margin-left: 0;
}

.vertical-tabs-list {
  border: none;
  left: -1.5em;
}

.vertical-tabs ul li {
  border-left: none;
  list-style-image: none;
}

.vertical-tabs ul li.last {
  border-bottom: none;
}

.vertical-tabs-list li a:link,
.vertical-tabs-list li a:visited,
.vertical-tabs-list li a:hover,
.vertical-tabs-list li a:active {
  background-color: transparent;
  background-image: none;
  border: none;
}


/* Quicktabs
/-------------------------------------------------------------- */
.quicktabs .block {
  float: none;   /* keep content in div */
}


/* Typography
-------------------------------------------------------------- */

/* Base Settings
-------------------------------------------------------------- */
body {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;     /* web safe fonts */
  font-size: 81.25%;   /* also set in fusion_core.info: settings[theme_font_size] = font-size-13 */
  line-height: 150%;   /* 1.5x vertical rhythm */
}

.form-text {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
}


/* HTML Elements
-------------------------------------------------------------- */
h1 {
  font-size: 180%;
}

h2 {
  font-size: 142.85%;
}

h3 {
  font-size: 114.28%;
}

h4 {
  font-size: 100%;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}

#footer {
  font-size: 95%;
}


/* Nodes
/-------------------------------------------------------------- */
/* bylines and taxonomy */
.submitted,
.terms {
  font-size: 95%;
}

.terms {
  line-height: 130%;
}

.node .read-more,
.node .more-link,
.node .links {
  font-size: 95%;
}


/* Comments
/-------------------------------------------------------------- */
div.comment div.links a,
div.comment ul.links a {
  font-size: 90%;
}

.signature {
  font-size: 91.6%;
}


/* Links
/-------------------------------------------------------------- */
/* breadcrumbs */
.breadcrumbs {
  font-size: 90%;
  line-height: 100%;
}

/* pagers */
ul.pager {
  font-size: 90%;
  line-height: 150%;
}

ul.pager li {
  line-height: 250%;
}


/* Lists
/-------------------------------------------------------------- */
li,
li.leaf,
ul.menu li,
.item-list ul li {
  line-height: 150%;
}


/* Forms
/-------------------------------------------------------------- */
/* form buttons */
.form-submit {
  font-size: 80%;
}

.form-item .description {
  font-size: 95%;
  line-height: 130%;
}

/* region labels on block admin page */
.block-region {
  font-size: 130%;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited {
  font-size: 110%;
  line-height: 120%;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  font-size: 100%;
  line-height: 110%;
}


/* Poll
/-------------------------------------------------------------- */
/* increase default font size and spacing of poll titles */
.block-poll .poll div.title {
  font-size: 120%;
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
  font-size: 90%;
}


/* Fusion Apply skins
/-------------------------------------------------------------- */
/* callout block style */
.fusion-callout .inner {
  /*font-size: 150%;*/
}

/* multi-column menu style */
.fusion-multicol-menu .inner ul li {
  font-size: 115%;
}

.fusion-multicol-menu .inner ul li.expanded ul {
  font-size: 75%;
}

.fusion-multicol-menu .inner ul li.expanded ul li ul {
  font-size: 85%;
}

/* horizontal login style*/
.fusion-horiz-login#block-user-login #user-login-form label {
  font-size: 90%;
}

html.js .fusion-horiz-login#block-user-login #user-login-form label {
  font-size: 85%;
}

.fusion-horiz-login#block-user-login .item-list li {
  font-size: 95%;
  line-height: 105%;
}

.fusion-horiz-login#block-user-login #edit-openid-identifier-wrapper .description {
  font-size: 80%;
}

/* Font Theme Settings
/-------------------------------------------------------------- */
/* font size */
.font-size-10 {
  font-size: 62.5%;
}

.font-size-11 {
  font-size: 68.75%;
}

.font-size-12 {
  font-size: 75%;
}

.font-size-13 {
  font-size: 81.25%;
}

.font-size-14 {
  font-size: 87.5%;
}

.font-size-15 {
  font-size: 93.75%;
}

.font-size-16 {
  font-size: 100%;
}

.font-size-17 {
  font-size: 106.25%;
}

.font-size-18 {
  font-size: 112.5%;
}

/* absolute font sizes as examples for theme setting labels - NOT USED IN THEME */
#edit-theme-font-size-font-size-10-wrapper label {
  font-size: 10px;
}

#edit-theme-font-size-font-size-11-wrapper label {
  font-size: 11px;
}

#edit-theme-font-size-font-size-12-wrapper label {
  font-size: 12px;
}

#edit-theme-font-size-font-size-13-wrapper label {
  font-size: 13px;
}

#edit-theme-font-size-font-size-14-wrapper label {
  font-size: 14px;
}

#edit-theme-font-size-font-size-15-wrapper label {
  font-size: 15px;
}

#edit-theme-font-size-font-size-16-wrapper label {
  font-size: 16px;
}

#edit-theme-font-size-font-size-17-wrapper label {
  font-size: 17px;
}

#edit-theme-font-size-font-size-18-wrapper label {
  font-size: 18px;
}

/* font family */
.font-family-sans-serif-sm,
.font-family-sans-serif-sm .form-text {
  font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif;
}

.font-family-sans-serif-lg,
.font-family-sans-serif-lg .form-text {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.font-family-serif-sm,
.font-family-serif-sm .form-text {
  font-family: Garamond, Perpetua, "Nimbus Roman No9 L", "Times New Roman", serif;
}

.font-family-serif-lg,
.font-family-serif-lg .form-text {
  font-family: Baskerville, Georgia, Palatino, "Palatino Linotype", "Book Antiqua", "URW Palladio L", serif;
}

.font-family-myriad,
.font-family-myriad .form-text {
  font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.font-family-lucida,
.font-family-lucida .form-text {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
}

.font-family-tahoma,
.font-family-tahoma .form-text {
  font-family: Tahoma, Arial, Verdana, sans-serif;
}

/*http://www.ateneo.edu/sites/all/themes/fusion/fusion_core/skins/core/fusion-core-skins.css?qxytgo*/

/* Skinr styles
/-------------------------------------------------------------- */

/* Skinr selectable helper classes */
.fusion-clear {
  clear: both;
}

div.fusion-right {
  float: right; /* LTR */
}

div.fusion-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.fusion-center-content .inner {
  text-align: center;
}

.fusion-center-content .inner ul.menu {
  display: inline-block;
  text-align: center;
}

/* required to override drupal core */
.fusion-center-content #user-login-form {
  text-align: center;
}

.fusion-right-content .inner {
  text-align: right; /* LTR */
}

/* required to override drupal core */
.fusion-right-content #user-login-form {
  text-align: right; /* LTR */
}

/* Large, bold callout text style */
/*.fusion-callout .inner {
  font-weight: bold;
}*/

/* Extra padding on block */
.fusion-padding .inner {
  padding: 30px;
}

/* Adds 1px border and padding */
.fusion-border .inner {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

/* Single line menu with separators */
.fusion-inline-menu .inner ul.menu {
  margin-left: 0; /* LTR */
}

.fusion-inline-menu .inner ul.menu li {
  border-right-style: solid;
  border-right-width: 1px;
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.fusion-inline-menu .inner ul.menu li a {
  padding: 0 8px 0 5px; /* LTR */
}

.fusion-inline-menu .inner ul li.last {
  border: none;
}

/* Hide second level (and beyond) menu items */
.fusion-inline-menu .inner ul li.expanded ul {
  display: none;
}

/* Multi-column menu style with bolded top level menu items */
.fusion-multicol-menu .inner ul {
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul li {
  border-right: none;
  display: block;
  font-weight: bold;
}

.fusion-multicol-menu .inner ul li.last {
  border-right: none;
}

.fusion-multicol-menu .inner ul li.last a {
  padding-right: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded,
.fusion-multicol-menu .inner ul li.leaf {
  float: left; /* LTR */
  list-style-image: none;
  margin-left: 50px; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li.first {
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded li.leaf {
  float: none;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul {
  display: block;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul li {
  border: none;
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li ul.menu li {
  font-weight: normal;
}

/* Split list across multiple columns */
.fusion-2-col-list .inner .item-list ul li,
.fusion-2-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 50%;
}

.fusion-3-col-list .inner .item-list ul li,
.fusion-3-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 33%;
}

.fusion-2-col-list .inner .item-list ul.pager li,
.fusion-3-col-list .inner .item-list ul.pager li {
  float: none;
  width: auto;
}

/* List with bottom border
    Fixes a common issue when list items have bottom borders and appear to be
    doubled when nested lists end and begin. This removes the extra border-bottom
 */
.fusion-list-bottom-border .inner ul li {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

.fusion-list-bottom-border .inner ul li,
.fusion-list-bottom-border .view-content div.views-row {
  padding: 0 0 0 10px; /* LTR */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 216.7%; /* 26px */
}

.fusion-list-bottom-border .inner ul {
  margin: 0;
}

.fusion-list-bottom-border .inner ul li ul {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.fusion-list-bottom-border .inner ul li ul li.last {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  margin-top: -1px;
}

/* List with no bullet and extra padding
    This is a common style for menus, which removes the bullet and adds more
    vertical padding for a simple list style
 */
.fusion-list-vertical-spacing .inner ul,
.fusion-list-vertical-spacing div.views-row-first {
  margin-left: 0;
  margin-top: 10px;
}

.fusion-list-vertical-spacing .inner ul li,
.fusion-list-vertical-spacing div.views-row {
  line-height: 133.3%; /* 16px/12px */
  margin-bottom: 10px;
  padding: 0;
}

.fusion-list-vertical-spacing .inner ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

.fusion-list-vertical-spacing .inner ul li ul {
  margin-left: 10px; /* LTR */
}

/* Bold all links */
.fusion-bold-links .inner a {
  font-weight: bold;
}

/* Float imagefield images left and add margin */
.fusion-float-imagefield-left .field-type-image,
.fusion-float-imagefield-left .image-insert {
  float: left; /* LTR */
  margin: 0 15px 15px 0; /* LTR */
}

/* Clear float on new Views item so each row drops to a new line */
.fusion-float-imagefield-left .views-row {
  clear: left; /* LTR */
}

/* Float imagefield images right and add margin */
.fusion-float-imagefield-right .field-type-image,
.fusion-float-imagefield-right .image-insert {
  float: right; /* LTR */
  margin: 0 0 15px 15px; /* LTR */
}

/* Clear float on new Views item so each row drops to a new line */
.fusion-float-imagefield-right .views-row {
  clear: right; /* LTR */
}

@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'sabonregular';
    src: url('../fonts/sabon-roman-webfont.eot');
    src: url('../fonts/sabon-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sabon-roman-webfont.woff') format('woff'),
         url('../fonts/sabon-roman-webfontt.ttf') format('truetype'),
         url('../fonts/sabon-roman-webfont.svg#sabonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotissansserifregular';
    src: url('../fonts/rotis-webfont.eot');
    src: url('../fonts/rotis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotis-webfont.woff') format('woff'),
         url('../fonts/rotis-webfont.ttf') format('truetype'),
         url('../fonts/rotis-webfont.svg#rotissansserifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/Ubuntu-R-webfont.eot');
    src: url('../fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Ubuntu-R-webfont.woff') format('woff'),
         url('../fonts/Ubuntu-R-webfont.ttf') format('truetype'),
         url('../fonts/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Reg-webfont.eot');
    src: url('../fonts/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Reg-webfont.woff') format('woff'),
         url('../fonts/Lato-Reg-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background:#666666;
	color:#555555;
	font-family: 'Segoe UI', Arial, Sans-serif;
}

a, a:link, a:visited {
	color:#1b3e94;
	font-family: 'Segoe UI', Arial, Sans-serif;
}

.shadow {
	margin: auto;
	width: 970px;
	background:url(../images/bgtrans.png);
}

#header-group-wrapper {
	background:url("../images/heading.jpg") center top repeat;
}

#main-content-inner {
    box-shadow: none !important;
}
#pid-ls #block-system-main {
	display:none;
}

#main {
    /*background:#e8f0f8;*/
	background:#fff;
    font-family: Arial,sans-serif;
    font-size: 12px;
    padding: 15px;
	-webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.65);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.65);
	behavior: url(../images/ie-css3.htc);
}
#logo {
    margin-bottom: 20px;
    padding-top: 30px;
}
#preface-top-wrapper {
	background: url(../images/menu-bg1.png) repeat-x;
	position:relative;
	z-index:9;
}
#postscript-top {
	background:#f7f6f1;
	font-family: Tahoma, Arial, sans-serif;
}

.term-listing-heading {
    border-top: 1px solid gray;
    padding-top: 10px;
    /*width: 685px;*/
}
/* Footer */
#footer-wrapper {
	background:url("../images/footer-wrapper.png") repeat-x;
}

#block-block-10 {
    margin-left: 46px;
    margin-top: -18px;
    width: 180px;
}

#block-block-10 ul{
    margin:0;
}

#block-block-10 ul li {
    float: left;
    list-style: none outside none;
    width: 20px;
}

#block-block-10 ul li a{
    margin-top:2px;
}

#block-block-10 .block-title {
    color: #10348b;
    font-size: 12px;
	font-weight:normal;
	font-family:Tahoma, Arial, Sans-serif;
}
#block-menu-menu-main-left-footer ul.menu li, #block-menu-menu-main-left-footer ul.links li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#block-menu-menu-main-left-footer ul.menu {
	margin-left:5px;
}
#block-menu-menu-main-left-footer {
    background: url("../images/postcript-border1.jpg") no-repeat scroll right center transparent;
    height: 151px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 30px;
    width: 230px;
}
#block-menu-menu-main-left-footer h2.block-title {
	font-size:11px;
	font-weight:bold;
	color:#949494;
}
#block-menu-menu-main-left-footer a, #block-menu-menu-main-left-footer a:link, #block-menu-menu-main-left-footer a:visited {
	color: #25408f;
	font-family:Tahoma, Arial, Sans-serif;
}
/*#block-menu-menu-main-left-footer ul li.last, #block-menu-menu-main-left-footer ul li.first, #block-menu-menu-main-left-footer ul li .offices {
}*/
#block-menu-menu-main-right-footer ul.menu li,
#block-menu-menu-main-right-footer ul.links li {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
#block-menu-menu-main-right-footer ul.menu {
	margin-left:5px;
}

#block-menu-menu-main-right-footer {
    margin-bottom: 0;
    padding-left: 40px;
    padding-top: 30px;
    width: 234px;
}
#block-menu-menu-main-right-footer h2.block-title {
	font-size:11px;
	font-weight:bold;
	color:#949494;
}
#block-menu-menu-main-right-footer a,
#block-menu-menu-main-right-footer a:link,
#block-menu-menu-main-right-footer a:visited {
	color: #25408f;
	font-family:Tahoma, Arial, Sans-serif;
}
#block-block-3 {
	width:435px;
	height:151px;
	margin-bottom: 0;
	padding:20px 5px 0 5px;
	background: url(../images/postcript-border1.jpg) no-repeat;
	background-position:right;
}
#block-block-4 {
	text-align:center;
}

#block-block-4 p {
	font-size:10px;
}

/* End of Footer */

#block-custom_search_blocks-2 {
    float: right;
    margin-right: 20px;
    margin-top: -60px;
    width: 295px;
}


input#edit-custom-search-blocks-form-2--2 {
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 22px;
    margin-left: 23px;
    margin-top: -4px;
    width: 190px;
}
#block-custom_search_blocks-2 input#edit-submit {
    background: url("../images/ls_search_button.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #B0B0B0;
    border-radius: 3px 3px 3px 3px;
    float: right;
    font-family: rotissansserifregular,Arial,Sans-serif;
	font-size: 11px;
    height: 25px;
    margin: -4px 0 0;
	color:#B0B0B0;
}

#user-login {
	margin-left:15px;
}

/* About Ateneo page */

#block-menu-menu-social-dev-subsections,
#block-menu-menu-basic-edu-subsections {
    border: 1px solid #D1D1D1;
    border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	behavior: url(../images/ie-css3.htc);
	width:215px;
}

#block-menu-menu-social-dev-subsections .block-title,
#block-menu-menu-basic-edu-subsections .block-title {
    border-bottom: 2px solid #C41230;
    color: #1B3E94;
    font-family: sabonregular,Arial,Sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    padding: 0 0 10px;
}

#block-menu-menu-social-dev-subsections ul li,
#block-menu-menu-basic-edu-subsections ul li{
    border-bottom: 1px solid #D1D1D1;
    list-style: none outside none;
    margin-left: -25px;
    padding-left: 12px;
}


#block-menu-menu-social-dev-subsections ul li a,
#block-menu-menu-basic-edu-subsections ul li a {
	font-family: rotissansserifregular,Arial,sans-serif;
	color:#666666;
}

.page-node #content-group{
	margin-top:20px;
}
.page-node-4798 #content-group{
	width: 480px;
	margin-top:20px;
}

a:hover{
	text-decoration:none;
}
#main{
	padding:0;
}

#block-superfish-13 {
    float: right;
    width: 510px;
}

#block-superfish-13 ul#superfish-13 li{
	padding: 3px 23px;
	background:url("/sites/all/themes/fusion/ls/images/divider2.png") no-repeat scroll 0 center transparent;
}

#block-superfish-13 ul#superfish-13 li a{
	color: #FFFFFF;
    font-family: sabonregular,Arial,Sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#header-group-wrapper{
	background: none;
}

#header-group{
	background: url("/sites/all/themes/fusion/ls/images/ls-header2.jpg") repeat-x;
}

#block-block-22{
	width:400px;
}
#block-superfish-20,
#block-superfish-13,
#block-block-22{
	margin-bottom:0;
}

#block-block-22 p{
	margin: 3px;
}

#block-block-22 p a{
	color: #FFFFFF;
    font-family: rotissansserifregular,Arial,Sans-serif;
    font-size: 32px;
    margin-left: 14px;
}

#block-superfish-19{
	margin-top: 1px;
}

#block-superfish-19 ul li{
	background-image: url("/sites/all/themes/fusion/ls/images/top-bg-menu.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding: 20px 8px 3px;
}

#block-superfish-19 ul li a{
	color: #FFFFFF;
    font-size: 17px;
    text-align: center;
	font-family:rotissansserifregular,Arial,Sans-serif;
}

#block-superfish-20 #superfish-20 li{
	padding: 1px 10px;
	background: url("/sites/all/themes/fusion/ls/images/divider2.png") no-repeat scroll 0 center transparent;
}

ul#superfish-20{
	margin-left: 20px;
}
#block-superfish-13 ul#superfish-13 li.first,
#block-superfish-20 #superfish-20 li.first{
	background: none repeat scroll 0 0 transparent;
}

#block-superfish-20 #superfish-20 li a{
	color: #FFFFFF;
    font-family: sabonregular,Arial,Sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/*

#sidebar-second{
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(left,  #f0f0f0 0%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f0f0), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f0f0f0 0%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(to right,  #f0f0f0 0%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	min-height: 660px;
}

*/

#sidebar-second #superfish-21 li,
#sidebar-second #block-menu-menu-loyola-school-quick-links-a .menu li{
	list-style: disc outside none;
    width: 200px;
	padding: 2px 0;
}


#sidebar-second #superfish-21 li a,
#sidebar-second #block-menu-menu-loyola-school-quick-links-a .menu li a{
	color: #666666;
    font-weight: bold;
	font-size:13px;
}
#block-views-inner_page_related_news-block_1 {
	margin-top: 20px;
}
#block-views-loyola_school_front-block h2.title,
#block-views-loyola_school_front-block_2 h2.title,
#block-menu-menu-ls-journals h2.title,
#block-views-loyola_school_front-block_1 h2.title{
	padding: 0;
	color: #00203E;
}

#block-views-loyola_school_front-block .views-row{
	padding: 5px 0;
}

#block-views-loyola_school_front-block .view-content a,
#block-views-loyola_school_front-block_1 .view-content a,
#block-views-loyola_school_front-block_2 .view-content a,
#block-menu-menu-ls-journals ul li a{
	font-family: 'Segoe UI',Arial,Sans-serif;
    font-size: 14px;
}

#block-superfish-20 .gutter,
#block-superfish-22 .gutter,
#block-views-loyola_school_slideshow-block .gutter{
	margin:0;
}
#block-views-loyola_school_slideshow-block {
	margin-top: 5px;
}
#block-superfish-22{
	background-color: #1E67AB;
    height: 245px;
    padding-top: 25px;
    text-align: center;
}

#block-superfish-22 ul#superfish-22{
	width: 91%;
}
#block-superfish-22 ul#superfish-22 li{
	border-bottom: 1px solid #CCC;
    padding: 15px 0;
    width: 90%;
}

#block-superfish-22 ul#superfish-22 li.last{
	border-bottom:none;
}

#block-superfish-22 ul#superfish-22 li a{
	color: #FFFFFF;
    font-family: sabonregular,Arial,Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

#block-views-loyola_school_front-block_2 .views-row{
	min-height:82px;
}


#block-views-loyola_school_front-block_2 .views-row #block-image{
	float: left;
    margin-right: 5px;
}

#block-views-loyola_school_front-block_2 .views-row #block-body{
	float: left;
    padding-top: 11px;
	font-family: rotissansserifregular,Arial,Sans-serif;
}

#block-views-loyola_school_front-block,
#block-views-loyola_school_front-block_1 {
	width:330px;
	margin-left:10px;
}

#block-views-loyola_school_front-block_2,
#block-menu-menu-ls-journals {
	width:330px;
	float:right;
	margin-right:35px;
}

#block-views-loyola_school_front-block_1 .views-row .views-field-title {
    margin-bottom: 10px;
}

#block-views-soh_department_banners-block_6 {
	width:690px;
}
/* Undergraduate */
#block-block-22 {
    float: left;
    width: 230px;
}
#block-superfish-20 {
    float: right;
    width: 630px;
}
#block-block-100 {
    /*background: url("../images/quick-gradient.png") repeat scroll 0 0 transparent;*/
    /*padding: 15px 0 0 30px;*/
    width: 235px;
}


#block-views-loyola_school_slideshow-block_2 .gutter {
	margin:0;
}


#content-group .title {
    font-family: 'rotissansserifregular',Arial,Sans-serif;
	text-transform: uppercase;
	padding-left:0 !important;
}
#content-group .block-title {
    font-family: 'LatoRegular', Arial, Sans-serif !important;
	padding-left:0 !important;
	text-transform: none !important;
}
.date-display-single {
    color: #666666;
    font-family: Arial;
    font-size: 10px;
}
#block-menu-menu-undergrad-menu {
    /*background: url("../images/undergrad-gradient.jpg") repeat-x scroll 0 0 transparent;*/
	background: #DCBE14;
    /*border-top: 2px solid gold;*/
    height: 42px;
    margin-bottom: 0;
}
#block-menu-menu-undergrad-menu ul {
    float: right;
    margin-bottom: 0;
}
#block-menu-menu-undergrad-menu ul li {
	float:left;
	list-style:none;
}
#block-menu-menu-undergrad-menu ul li a {
    color: #000;
    padding-right: 10px;
	font-size: 13px;
	font-family: 'Segoe UI', Arial, Sans-serif;
	background:url("/sites/all/themes/fusion/ls/images/undergrad-border2.png") no-repeat scroll right center transparent;
}
#block-menu-menu-undergrad-menu ul li.last a {
	background: none;
	padding-right: 0px;
}
#block-block-101 {
	/*background: url("../images/undergrad-gradient.jpg") repeat-x scroll 0 0 transparent;*/
    background: url("../images/undergrad-bg.png") no-repeat;
    height: 44px;
    margin-bottom: 15px;
	/*height:0;
	border-bottom: 35px solid #CDCB00;
    border-right: 45px solid transparent;
	width:915px;*/
}

#block-block-100 a {
	color:#222222;
	font-family: Arial;
}
#block-block-100 .trapezoid-1 {
    border-bottom: 15px solid #EEDC77;
    border-left: 5px solid #EEDC77;
    border-right: 20px dotted transparent;
    height: 0;
    padding-right: 20px;
}
#block-block-100 .trapezoid-2 {
    border-bottom: 15px solid #EEAB77;
    border-left: 5px solid #EEAB77;
    border-right: 20px dotted transparent;
    height: 0;
    padding-right: 20px;
}
#block-block-100 .trapezoid-3 {
    border-bottom: 15px solid #D5443A;
    border-left: 5px solid #D5443A;
    border-right: 20px dotted transparent;
    height: 0;
    padding-right: 20px;
}
#block-block-100 .trapezoid-4 {
    border-bottom: 15px solid #ffbc82;
    border-left: 5px solid #ffbc82;
    border-right: 20px dotted transparent;
    height: 0;
    padding-right: 20px;
}
#block-block-100 .trapezoid-5 {
    border-bottom: 15px solid #33CCFF;
    border-left: 5px solid #33CCFF;
    border-right: 20px dotted transparent;
    height: 0;
    padding-right: 20px;
}
#block-block-100 .item  {
	margin-bottom: 10px;
}
#block-block-100 .item span {
	font-size:14px;
	font-family: 'LatoRegular',Arial,Sans-serif;
	font-weight: bold;
}
#block-block-100 .item-1 {
	padding: 0 0 10px 10px;
	background: #EEDC77;
	color:#000;
}
#block-block-100 .item-2 {
	padding: 0 0 10px 10px;
	background: #EEAB77;
	color:#000;
}
#block-block-100 .item-3 {
	padding: 0 0 10px 10px;
	background: #D5443A;
	color:#000;
}
#block-block-100 .item-4 {
	padding: 0 0 10px 10px;
	background: #ffbc82;
	color:#000;
}
#block-block-100 .item-5 {
	padding: 0 0 10px 10px;
	background: #33CCFF;
	color:#000;
}

#block-block-102 p,
#block-block-102 .gutter,
#block-block-103 p,
#block-block-103 .gutter {
	margin:0;
}
#block-block-102,
#block-block-103 {
	margin:0;
	height:229px;
}

.search-bg-1 {
	background:url("../images/ls-search-1.png") no-repeat;
}
.search-bg-2 {
	background:url("../images/ls-search-2.png") no-repeat;
}
#block-views-admissions_slideshow-block_3 .views-content-title {
	cursor: pointer;
}

/** Graduate Programs CSS **/
#block-views-loyola_school_slideshow-block_3 {
    height: 360px;
    margin: 0;
}
#block-views-loyola_school_slideshow-block_3 .gutter {
	margin: 0;
}
#block-views-loyola_school_slideshow-block_3 .views-field-field-page-img {
	float: left;
}
#block-views-loyola_school_slideshow-block_3 .views-field-body {
    float: left;
    padding: 30px;
    width: 420px;
}
#block-views-loyola_school_slideshow-block_3 .views-field-body .graduate-title {
	font-weight: bold;
	color: #e64e0d;
	font-size: 17px;
}
#block-menu-menu-graduate-menu {
	background: #23429c;
	height: 40px;
	margin: 0;
}
#block-menu-menu-graduate-menu ul li a {
    color: #FFFFFF;
    padding: 8px 16px;
}
#block-block-117 {
	background: #feda48;
	height: 40px;
}
#block-block-117 p {
    margin: 10px 0 0;
}
#block-block-118,
#block-block-119 {
	width: 480px;
}
#block-views-admissions_slideshow-block_5 {
	float: left;
    width: 480px;
}
#block-views-admissions_slideshow-block_5 .views-row {
    height: 120px;
    margin-bottom: 20px;
    overflow: hidden;
}
#block-views-admissions_slideshow-block_5 .views-field-field-teaser {
	float: left;
	margin-right: 10px;
}
#block-block-121 {
	height: 249px;
}
#block-block-121,
#block-block-121 p,
#block-block-121 .gutter{
	margin:0;
}
.graduate-menu ul {
	margin-left: 0;
}
.graduate-menu ul li {
	list-style: none;
}
.graduate-menu ul li a {
	color: #555555;
}
.graduate-menu ul li a.active-trail{
	color: #23429C;
}


/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that skin styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
}

.header-group {
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}


/* Main Menu
/-------------------------------------------------------------- */
/* Add general styles for main menu here, such as typography, borders, floats,
  or spacing above/below */
.main-menu {
}

/* styles for Superfish main menu */
.main-menu-inner ul.sf-menu {
}

/* Link style for top level menu items, add padding here */
.main-menu-inner ul.sf-menu a,
.main-menu-inner ul.sf-menu a:visited  {
}

.main-menu-inner ul.sf-menu a:hover,
.main-menu-inner ul.sf-menu a:active,
.main-menu-inner ul.sf-menu a:focus {
}

/* These are the top level menu items, add border-right here for separators */
.main-menu-inner ul.sf-menu li {
}

/* Add border-right: 0; here to remove separator on last menu item */
.main-menu-inner ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
.main-menu-inner ul.sf-menu ul {
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.main-menu-inner ul.sf-menu li li {
  background-color: #fff;
}

.main-menu-inner ul.sf-menu li li.last {

}

.main-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.main-menu-inner ul.sf-menu li ul li:hover,
.main-menu-inner ul.sf-menu li ul li.sfHover {
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-second {
}


/* Content Regions
-------------------------------------------------------------- */
.content {
}

.content-inner {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
}

.footer {
}

.footer-inner {
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.node-teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
  padding: 0px;
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments .comment.odd {
  background-color: #fff;
}

.comments .comment.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}

/*
	Background Stretcher jQuery Plugin
	© 2011 ajaxBlender.com
	For any questions please visit www.ajaxblender.com
	or email us at support@ajaxblender.com
*/

HTML {_background: url(/images/trans.gif) no-repeat fixed;}
.bgstretcher-area { text-align: left; }
.bgstretcher, .bgstretcher UL, .bgstretcher UL LI {
	position: absolute;
	top: 0;
	left: 0;
}
.bgstretcher UL, .bgstretcher UL LI {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bgstretcher {
	background: black;
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 1;
	_position: absolute; /*IE6 doesn't support fixed positioning*/
	top: 0;
	left: 0;
}


/* Layout - 12 column grid, 960px fixed width, 20px gutters
-------------------------------------------------------------- */

/* grid widths */
.grid12-1 {width: 80px;}
.grid12-2 {width: 160px;}
.grid12-3 {width: 240px;}
.grid12-4 {width: 320px;}
.grid12-5 {width: 400px;}
.grid12-6 {width: 480px;}
.grid12-7 {width: 560px;}
.grid12-8 {width: 640px;}
.grid12-9 {width: 720px;}
.grid12-10 {width: 800px;}
.grid12-11 {width: 880px;}
.grid12-12 {width: 960px;}

/* block indents */
.grid12-indent-1 {margin-left: 80px;}
.grid12-indent-2 {margin-left: 160px;}
.grid12-indent-3 {margin-left: 240px;}
.grid12-indent-4 {margin-left: 320px;}
.grid12-indent-5 {margin-left: 400px;}
.grid12-indent-6 {margin-left: 480px;}
.grid12-indent-7 {margin-left: 560px;}
.grid12-indent-8 {margin-left: 640px;}
.grid12-indent-9 {margin-left: 720px;}
.grid12-indent-10 {margin-left: 800px;}
.grid12-indent-11 {margin-left: 880px;}

/* gutters (2 x margin) */
.gutter {
  margin-left: 10px;
  margin-right: 10px;
}

body,
div.full-width {
  min-width: 960px;
}

#grid-mask-overlay .block .gutter {
  background-color: rgba(0,204,0,.15);
  outline: none;
}

body.grid-mask-enabled #grid-960 {
  display: block;
}
