
.main-content-wrapper{
    display: flex;
}

.legend-region-ais_map-mobile-view{
    display: none;
}

.legend-region-ais_map-desktop-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    width: 23%;
    height: 385px;

    background: #F3F3F3;
    border-radius: 5px;
}

.legend-region-body-wrapper{
    overflow-y: scroll;
}

.area-label-desktop {
    padding: 5px 10px;
    margin: 8px 0px;
    font-weight: bold;
}

#ais-map-content .water-label{
    background-color: royalblue;
    color: white;
}

#ais-map-content .ub-label{
    background-color: #019343;
    color: white;
}

#ais-map-content .swm-label{
    background-color: #FF6500;
    color: white;
}

#ais-map-content .drrm-label{
    background-color: black;
    color: white;
}

#ais-map-content .mobility-label{
    background-color: white;
    color: black;
}

#ais-map-content .air-label{
    background-color: #FDA501;
    color: white;
}

#ais-map-content .ejeep-stop-2-label{
    background-color: white;
}


.location-label{
    display: flex;
    align-items: center;
    width: 100%;
}

.location-label p {
    width: 75%;
}

.location-label-number{
    width: 20px;
    height: 20px;
    padding: 2%;
    margin-right: 5%;

    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}

.page-node-6877 #content-inner {
    position: relative;
}

#ais-map-content {
  display: flex;
  justify-content: space-between;
}

#map-region-ais_map {
  width: 70%;
  height: 100%;
  position: relative;
}

#map-background-ais_map {
  display: flex;
  overflow: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#map-background-ais_map::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

#map-background-ais_map img {
  transform-origin: 0 0;
}

#block-views-ais_map-block {
    /*background: url("/sites/all/themes/fusion/ls/images/ais-map-overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
}
#block-views-ais_map-block ul {
    margin-bottom: 3px;
    margin-left: 0;
}
#block-views-ais_map-block ul li {
    list-style: none outside none;
    padding: 0;
}
#block-views-ais_map-block ul li span{
    cursor: pointer;
}

@keyframes dim {
  from {background-color: "";}
  to {background-color: rgba(0,0,0,0.2);}
}

@keyframes undim {
  from {background-color: rgba(0,0,0,0.2);}
  to {background-color: "";}
}

#block-views-ais_map-block_1 {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    /*height: 100%;*/
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

#block-views-ais_map-block_1 > div {
    width: 100%;
}

#block-views-ais_map-block_1 .views-row {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 3px;
    display: none;
    position: relative;
    width: 80%;
    padding: 2.5%;
    margin: auto;
}

#block-views-ais_map-block_1 .description-title {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

#block-views-ais_map-block_1 .description-image {
    margin: 0 2.5% 0 0;
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#block-views-ais_map-block_1 .description-image img {
    width: auto;
    height: 100%;
}

#block-views-ais_map-block_1 .description-content {
    display: flex;
    max-height: 240px;
}

#block-views-ais_map-block_1 .description-details {
    flex: 1;
    overflow-y: scroll;
}

#block-views-ais_map-block_1 .close {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50%;
    color: #000000;
    font-weight: bold;
    height: 20px;
    padding: 8px;
    position: absolute;
    right: -18px;
    text-align: center;
    top: -18px;
    width: 20px;
    cursor: pointer;
}

p.ais-campus {
    margin: 0;
}

.yellow-number {
    background: none repeat scroll 0 0 #00BFFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    left: 50%;
    margin-top: 5px;
    text-align: center;
    width: 25px;
    position: absolute;
}
#block-views-ais_map-block .ais-campus {

    border-radius: 50px 50px 0px;
    -moz-border-radius: 50px 50px 0px;
    -webkit-border-radius: 50px 50px 0px;
    transform: rotate(45deg);

    /*border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/


    /*font-size: 18px;*/
    font-size: 14px;
    text-align: center;
    width: 25px;
    padding: 3px 0;
}

#block-views-ais_map-block .ais-campus .counter-number {
    display: block;
    transform: rotate(-45deg);
}

#block-views-ais_map-block .ais-campus-ejeep-stop-2 {
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1 {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid white;
}



#block-views-ais_map-block .views-row {
    width: 25px;
}


#block-views-ais_map-block .views-row {
    width: 25px;
}

#block-views-ais_map-block .ais-campus.x_6907 {
    position: absolute;
    top: 79%;
    left: 53%;
}

#block-views-ais_map-block .ais-campus.x_6908 {
    position: absolute;
    top: 66%;
    left: 67%;

}
#block-views-ais_map-block .ais-campus.x_7158 {
    position: absolute;
    top: 47%;
    left: 54%;

}
#block-views-ais_map-block .ais-campus.x_6910 {
    position: absolute;
    top: 42%;
    left: 58%;

}
#block-views-ais_map-block .ais-campus.x_6909 {
    position: absolute;
    top: 44%;
    left: 92%;

}
#block-views-ais_map-block .ais-campus.x_6911 {
    position: absolute;
    top: 5%;
    left: 23%;
}
#block-views-ais_map-block .ais-campus.x_6917 {
    position: absolute;
    top: 80%;
    left: 60%;

}
#block-views-ais_map-block .ais-campus.x_7159 {
    position: absolute;
    top: 76%;
    left: 49%;

}
#block-views-ais_map-block .ais-campus.x_6912 {
    position: absolute;
    top: 28%;
    left: 53%;

}
#block-views-ais_map-block .ais-campus.x_6913 {
    position: absolute;
    top: 52%;
    left: 53%;
}
#block-views-ais_map-block .ais-campus.x_6914 {
    position: absolute;
    top: 62%;
    left: 64%;
}
#block-views-ais_map-block .ais-campus.x_6915 {
    position: absolute;
    top: 30%;
    left: 43%;

}
#block-views-ais_map-block .ais-campus.x_6916 {
    position: absolute;
    top: 30%;
    left: 60%;
}
#block-views-ais_map-block .ais-campus.x_6919 {
    position: absolute;
    top: 77%;
    left: 86%;
}
#block-views-ais_map-block .ais-campus.x_6920 {
    position: absolute;
    top: 10%;
    left: 26%;
}
#block-views-ais_map-block .ais-campus.x_6921 {
    position: absolute;
    top: 58%;
    left: 88%;
}
#block-views-ais_map-block .ais-campus.x_6922 {
    position: absolute;
    top: 71%;
    left: 54%;
}

#block-views-ais_map-block .ais-campus.x_6923 {
    position: absolute;
    top: 56%;
    left: 85%;
}

#block-views-ais_map-block .ais-campus.x_6924 {
    position: absolute;
    top: 53%;
    left: 56%;
}

#block-views-ais_map-block .ais-campus.x_6925 {
    position: absolute;
    top: 65%;
    left: 80%;
}

#block-views-ais_map-block .ais-campus.x_6926 {
    position: absolute;
    top: 47%;
    left: 96%;
}
#block-views-ais_map-block .ais-campus.x_6927 {
    position: absolute;
    top: 30%;
    left: 19%;
}
#block-views-ais_map-block .ais-campus.x_6928 {
    position: absolute;
    top: 86%;
    left: 52%;
}
#block-views-ais_map-block .ais-campus.x_6929 {
    position: absolute;
    top: 90%;
    left: 82%;
}
#block-views-ais_map-block .ais-campus.x_6930 {
    position: absolute;
    top: 75%;
    left: 67%;
}
#block-views-ais_map-block .ais-campus.x_6931 {
    position: absolute;
    top: 66%;
    left: 38%;
}
#block-views-ais_map-block .ais-campus.x_6932 {
    position: absolute;
    top: 53%;
    left: 47%;
}
#block-views-ais_map-block .ais-campus.x_6933 {
    position: absolute;
    top: 28%;
    left: 29%;
}
#block-views-ais_map-block .ais-campus.x_6934 {
    position: absolute;
    top: 80%;
    left: 56.6%;
}
#block-views-ais_map-block .ais-campus.x_6935 {
    position: absolute;
    top: 70%;
    left: 63%;
}
#block-views-ais_map-block .ais-campus.x_6936 {
    position: absolute;
    top: 73%;
    left: 64%;
}
#block-views-ais_map-block .ais-campus.x_6937 {
    position: absolute;
    top: 66%;
    left: 57%;
}

#block-views-ais_map-block .ais-campus.x_6939 {
    position: absolute;
    top: 29%;
    left: 57%;
}
#block-views-ais_map-block .ais-campus.x_6940 {
    position: absolute;
    top: 74%;
    left: 38%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-2.x_6941 {
    position: absolute;
    top: 29%;
    left: 28%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-2.x_6942 {
    position: absolute;
    top: 69%;
    left: 38%;
}

#block-views-ais_map-block .ais-campus-ejeep-stop-2.x_6943 {
    position: absolute;
    top: 76%;
    left: 46%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-2.x_6944 {
    position: absolute;
    top: 49%;
    left: 51%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1.x_6945 {
    position: absolute;
    top: 46%;
    left: 52%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1.x_6946 {
    position: absolute;
    top: 86%;
    left: 65%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1.x_6947 {
    position: absolute;
    top: 75%;
    left: 90%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1.x_6948 {
    position: absolute;
    top: 53%;
    left: 76%;
}
#block-views-ais_map-block .ais-campus-ejeep-stop-1.x_6949 {
    position: absolute;
    top: 38%;
    left: 70%;
}

.map-inner-legend-ais_map{
    position: absolute;
    top: 5%;
    right: 3%;

    background: rgba(243, 243, 243, 0.75);
    border-radius: 4px;
}

.map-inner-legend-content{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.map-inner-legend-item{
    display: flex;
    align-items: center;

    height: 24px;

}

.map-inner-legend-bike-lane{
    width: 42px;
    border: 0;
    border-top: 2px dashed white;
    margin: 5px;

}

.map-inner-legend-ejeep-lane{
    width: 42px;
    border: 0;
    border-top: 2px solid white;
    margin: 5px;

}

.ejeep-stop-1-symbol{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid white;
    margin: 5px;


}

.ejeep-stop-2-symbol{
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    background-color: white;
    margin: 5px;


}

@media (max-width: 1200px) {
    #block-views-ais_map-block_1 .description-content {
      display: block;
      overflow-y: scroll;
      max-height: 400px;
    }

    #block-views-ais_map-block_1 .description-image {
      flex-direction: column;
      margin: 0 0 2.5% 0;
      max-height: 240px;
    }

    #block-views-ais_map-block_1 .description-details {
        overflow-y: auto;
    }
}

@media screen and (max-width: 1200px){

    #ais-map-content {
        flex-direction: column;
    }

    #map-region-ais_map {
      width: 100%;
    }

    .legend-region-ais_map-desktop-view{
        display: none;
    }

    .legend-region-ais_map-mobile-view{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        width: 98%;
        margin: 10px 0;
        padding: 1%;

        background: #F3F3F3;
        border-radius: 5px;
    }

    .location-labels-wrapper-mobile{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        margin: 1%;
        overflow-y: scroll;
    }

    .location-label{
        display: flex;
        align-items: center;
        width: 30%;
    }

    .location-label p{
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 2px;
    }

    .location-label-number{
        width: 20px;
        height: 20px;
        padding: 2%;
        margin: 3%;

        border-radius: 50%;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }

    .area-label-mobile{
        display: inline-block;
        text-align: center;
        padding: 5px;
        color: white;
        margin: 5px 3px;
        font-size: 9px;
        font-weight: bold;
        flex: 1;
    }

    summary div{
        display: inline-block;
        width: 98%;
    }

    .legend-region-ais_map-mobile-view-inner-wrapper{
        display: flex;

    }

    .map-inner-legend-content{
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: center;

    }

    .map-inner-legend-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 24px;
        margin-right: 5px;

    }
}
